<<div class="container-fluid">
    <table class="table table-striped" class="col-md-4" style="background: lightblue; ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Encargado</th>
                <th>Justificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-encargado">{{record.encargado}}</td>
                <td id="{{$index}}-justificacion">{{record.justificacion}}</td>
                <td>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.delete(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="{{$index}}-create-btn" class="btn btn-default btn-md" ui-sref="OrdenRotacionCreate" style="width: 150px; height: 40px; background: grey; color: whitesmoke; border-radius: 5px; "><span class="glyphicon glyphicon-edit"></span> Create</button>
</div>
