<div class="col-md-6 well">

    <form novalidate name="form" id="item-form" role="form" ng-submit="form.$valid && ctrl.create(currentRecord.codigo)">

        <div ng-messages="form.$error">
            <div ng-message="required">Ingrese el Codigo</div>
        </div>

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.codigo" />
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.codigo.$invalid && (form.codigo.$dirty || form.$submitted)}">
               
                <label for="codigo" class="col-md-2 control-label">Codigo</label>
                <div class="col-md-12">
                    <input id="codigo" name="codigo" class="form-control" type="text" ng-model="currentRecord.codigo" ng-init="currentRecord.codigo" required />
                </div>
            </div>
            <button type="submit" style="width: 150px; height: 40px; background: grey; color: whitesmoke; border-radius: 5px; ">Guardar</button>
            <button type="button" ui-sref='itemList' style="width: 150px; height: 40px; background: grey; color: whitesmoke; border-radius: 5px; ">Cancelar</button>
        </fieldset>
    </form>
</div>