<div class="container-fluid">
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Suministros</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-name"> <a id="refe" ui-sref="suministroItem({suministroId :record.id})">{{record.name}}</a></td>
                <td id="{{$index}}-descripcion">{{record.info}}</td>
                <td>  <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteSuministro(record)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="suministroEdit({suministroId : record.id})"><span class ="glyphicon glyphicon-edit"></span>Edit</button></td>
            </tr>
        </tbody>
    </table>
    <button  class="btn btn-default btn-md" ui-sref="suministroCreate"><span class="glyphicon glyphicon-plus"></span> Create</button>
</div>
