<center>
   
<div class="field" id="searchform" name="form" id="cliente-form" role="form" ng-submit="form.$valid && ctrl.findRecord(currentRecord.id)">
  <input type="text" id="searchterm" placeholder="ID de la persona que buscas" class="form-control" type="hidden" ng-model="currentRecord.id" />
  <button type="button" id="search"  class="btn btn-default btn-sm"  ng-click="ctrl.findRecord(currentRecord.id)" >Buscar</button>
</div>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<div class="container-fluid" id="tabla">
    <table  class="table table-striped" class="col-md-6" style="background: lightblue; ">
        <thead>
            <tr>
                <th><b>ID</b></th>
                <th><b>Nombre</b></th>
                <th><b>Edad</b></th>
                <th><b>Cédula</b></th>
                <th><b>Factura</b></th>
                <th><b>Acciones</b></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}"><b>{{record.id}}</b></td>
                <td id="{{$index}}">{{record.nombre}}</td>
                <td id="{{$index}}">{{record.edad}}</td>
                <td id="{{$index}}">{{record.cedula}}</td>
                <td>
                    <label style="border-radius: 5px;"><a id="{{$index}}-factura-btn" class="btn btn-default btn-sm" ui-sref="facturitasKAWAI({clienteId: record.id})">Facturas</a></label>
                </td>
                <td>
                    <p >
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="clienteEdit({clienteId: record.id})" style="border-radius: 5px; "><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus" style="border-radius: 5px;"></span> Eliminar</button>
                </p>
                </td>
                
            </tr>
        </tbody>
    </table>
    <link rel="stylesheet" href="src/modules/cliente/css/clientes.css" />
    <div>
        <button ui-sref="clienteCreate" style="width: 150px; height: 40px; background: grey; color: whitesmoke; border-radius: 5px; " ><b>Registrar Cliente</b></button>  
    </div>
</center>